<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrocApp"
        tools:targetApi="31">
        <activity
            android:name=".ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".SplahScreen"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Vaisselle"
            android:exported="false" />
        <activity
            android:name=".Meuble"
            android:exported="false" />
        <activity
            android:name=".Divertissement"
            android:exported="false" />
        <activity
            android:name=".Sportcategorie"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".AjoutProduit"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".AnnonceCategorisee"
            android:exported="false" />
        <activity
            android:name=".profil"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <activity
            android:name=".Catalogue"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>